{% extends '::base.html.twig' %}
{% block left_menu %}
    {% include 'ReadroomHomeBundle:Leftbar:leftbar.html.twig' %}
{% endblock %}
{% block content %}
    {% include 'ReadroomBooksBundle:Books:books.html.twig' %}
    {% include 'ReadroomHomeBundle:Reader:reader.html.twig' %}
    {% include 'ReadroomInputBundle:Input:input.html.twig' %}
    {% include 'ReadroomUserBundle:User:user.html.twig' %}
    {% include 'ReadroomUserBundle:User:profile.html.twig' %}
    {% include 'ReadroomCategoriesBundle:Categories:categories.html.twig' %}
{% endblock %}

{% block popups %}
    <div id="social-popup" class="reveal-modal"></div>
    <div id="inputs-popup" class="reveal-modal"></div>
{% endblock %}
    
{% block top_bar %}
    <div id="top-bar"> </div>
    
    <script type="text/html" id="template-top-bar">

        <nav id="main-header" class="top-bar no-home-structure">
            <ul class="title-area" >
                <li class="name" >
                    <h1>
                        <a href="#">
                            Readroom
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#" id="menu-expand"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section" >
                <ul class="left" >
                    <li class="has-form">
                        <form >
                            <div class="row collapse" >

                                <div class="large-centered columns">
                                    <input type="text">
                                </div>

                            </div>
                        </form>
                    </li>
                </ul>
            </section>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="left">
                    <li id="categories-menu" class="has-dropdown">


                    </li>

                </ul>

            </section>

            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li id="user-menu" class="has-dropdown">

                    </li>
                </ul>
            </section>
        </nav>
    </script>
    
{% endblock %}
