<div id="user-profile"> 

</div>

<script type="text/html" id="template-user-profile">
    <div class="row">
        <div class="large-3 columns">
            <img src="{{asset('readers/images/')}}<%= reader_image %>">
        </div>
        <div class="large-9 columns">
            <h3> <%= username %> </h3>
            <% if(isCurrentUser == false) { %>
                <% if(exist_solicitude == false) { %>
                    <button id="addFriend" class= "button small" > Añadir a mis amigos </button>
                <% } else { %>
                    <button id="addFriend" class= "button small disabled" disabled> Solicitud enviada </button>
             <% } %>    
            <% } %>
        </div>
    </div>
</script>
