{# empty Twig template #}
<div class="row"> 
    <div id="books-catalog" class="large-12 columns">
        <div class="loading-container"> 
            <img src="{{ asset('default/images/loader.gif') }}"/>
        </div>
    </div>
</div>

<div id="book-description" class="reveal-modal"> </div>

<script type="text/html" id="template-books-catalog">
    <div class="row">
        <% if(models.length > 0) { %>
            
            <%  for(var i=0; i<models.length; i++) { %>
            <% var book=models[i]; %>
                <% if (i < models.length - 1 || i==0) { %>
                    <div class="large-3 columns">
                <% } else { %>
                    <% var offset = models.length/4 - Math.floor( models.length/4 ) %>
                    <% if(offset == 0) { %>
                        <div class="large-3 columns">
                    <% } else if(offset == 0.25) { %>
                        <div class="large-3 pull-9 columns">
                    <% } else if(offset == 0.5) { %>
                        <div class="large-3 pull-6 columns">
                    <% } else if(offset == 0.75) { %>
                        <div class="large-3 pull-3 columns">
                    <% } %>
               <% } %>
                        <div class="row">
                            <div class="book-image large-12 columns" data-book-id="<%= book.attributes.id %>">
                                <div class="book-read-button" data-book-id="<%= book.attributes.id %>" >LEER </div>
                                <img src="/<%= book.attributes.book_front %>" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="book-info">
                                    <div class="book-name row" data-book-id="<%= book.attributes.id %>">
                                        <div class="large-12 columns">
                                            <%= book.attributes.book_name %> 
                                        </div>
                                     </div>
                                    <div class="book-author row" data-book-id="<%= book.attributes.id %>">
                                        <div class="large-12 columns">
                                            <%= book.attributes.book_author %> 
                                        </div>
                                    </div>
                                </div>
                           </div>
                         </div>
                    </div>
               
            <% } %>
        <% } else { %>
            <div class="centered-info large-6 large-centered columns"> Todavía no disponemos de libros en esta categoría </div>
        <% } %>
    </div>
</script>

<script type="text/html" id="template-book-description-popup">
    <div class="row"> 
        <div id="book-image-description" class="large-4 small-12 columns">
            <img src="/<%= book_front %>" />
        </div>
        <div class="large-8 small-12 columns">
            <div class="row">
                <div class="large-9 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3 id="book-name-description"><%= book_name %></h3> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h4 id="book-author-description"><%= book_author %></h4> 
                        </div>
                    </div>
                </div>
                <div id="book-read-button-description" class="large-3 columns">
                    <div >LEER </div>
                </div>
            </div>
            <div class="row">
                <div id="book-social-description" class="large-4 large-offset-8 columns"> 
                    <ul>
                        <li> <a>facebook</a> </li> 
                        <li> <a>twitter</a> </li>
                    </ul>
                </div>
            </div>
            <div class="row"> 
                <div id="book-synopsis" class="large-12 columns"> 
                    <p><%= book_synopsis %></p>
                </div>
            </div>
        </div>
    </div>
</script>
